
@model IEnumerable<Restorant.Web.ViewModels.GetReservations.GetReservationsVIewModel>

@{
    ViewBag.Title = "My Reservations";
}
<div class="container">
    @Html.AntiForgeryToken()
    @{ var count = 1;}

    @if (Model.Any())
    {
        <img style="position:absolute; height:100%; left:45%; bottom:0" src="~/jpgs/girl-reservation.png"/>
        foreach (var reservations in Model)
        {
            <div class="row">

                <div class="col-md-1" style="margin-top:20px">
                    <div class="well text-center">
                        <div class="row">Reserve</div>
                        <div class="row">@count</div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <h4>
                            <a href="#">Reservetion for: @reservations.ReservedFor.ToLongDateString()</a>
                        </h4>
                    </div>
                    <div class="row">
                        <p>
                            <strong>Reservation Time: </strong> @reservations.ReservedFor.ToLongTimeString()
                            <strong>Table for: </strong> @reservations.Table.NumberOfChairs people
                        </p>
                        @if (reservations.AskSomething.Content != null)
                    {
                            <p><strong>Comment: </strong>@reservations.AskSomething.Content </p>
                        }
                        else
                        {
                            <p><strong>Comment: </strong> No Comment </p>
                        }

                    </div>
                    <div class="row">
                        <span class="label label-default"> @reservations.Table.NumberOfChairs seats</span>
                        <span class="label label-default">@reservations.ReservedFor.ToShortDateString()</span>
                        <span class="label label-default">@reservations.ReservedFor.TimeOfDay</span>
                        <span class="label label-default">@reservations.ReservedFor.DayOfWeek</span>
                    </div>
                </div>
            </div>
            <hr />
            count++;
        }
    }
    else
    {
        <div style="width:95%;text-align:center" class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1>You don't have any Reservations at this poin. </h1> 
            <div style="font-size:18px;padding-bottom:10px;">You can create one at any given moment </div> 
            <img style="width:100%" src="http://www.spanishnyc.com/blog/wp-content/uploads/2014/02/learn-Spanish-at-the-restaurant.jpg"/>
        </div>
        
    }

</div>