@model Restorant.Web.ViewModels.PageableComment.IndexPageViewModel
@{
    ViewBag.Title = "All Feedbacks";
}

<h2 style="background-color:pink;text-align:center;padding-top:10px;padding-bottom:10px">@ViewBag.Title</h2>
<div>
    <p>
        <div>
            @using (Html.BeginForm("Create", "CommentForm", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                <label>Rows per Page: </label>
                <select id="RowsPerPage" name="pageSize">
                    <option value="">select value</option>
                    <option value="4">Four</option>
                    <option value="8">Eight</option>
                    <option value="12">Twelve</option>
                </select>

                <label> Sorth by Date :</label>
                <select id="SorthingValues" name="SorthByDate" onchange="SorthTable()">
                    <option value="oldest">select value</option>
                    <option value="oldest">Oldest</option>
                    <option value="newest">Newest</option>
                </select>
                <input type="submit" id="form-btn" value="Submit Values" />
            }
        </div>
        <script>
            function SorthTable() {
                //var values = $('#SorthingValues option:selected').val();
                $('#form-btn').click();
            }
        </script>
    </p>
</div>
<table class="table table-striped" id="tableInfo">
    <tr>
        <th>Author</th>
        <th style="background-color:pink">Title</th>
        <th>Content</th>
        <th>Created On</th>
    </tr>
    @foreach (var comment in Model.AllComments)
    {
        <tr>
            <th>@comment.Author</th>
            <td style="background-color:pink"><h5> @comment.Title</h5></td>
            <td>@comment.Description</td>
            <td>@comment.CreatedOn</td>
        </tr>
    }
</table>
<div class="col-sm-offset-3">
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.EndPage > 1)
                {
                <li>
                    <a href="~/CommentForm/Create">First</a>
                </li>
                <li>
                    <a href="~/CommentForm/Create?pageSize=@Model.PageSize&SorthByDate=@Model.SorthValues&page=@(Model.Pager.CurrentPage-1)">Previous</a>
                </li>
            }

            @for (var page = Model.Pager.StartPage; page < Model.Pager.EndPage; page++)
                {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a href="/CommentForm/Create?pageSize=@Model.PageSize&SorthByDate=@Model.SorthValues&page=@page">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                <li>
                    <a href="~/CommentForm/Create?pageSize=@Model.PageSize&SorthByDate=@Model.SorthValues&page=@(Model.Pager.CurrentPage+1)">Next</a>
                </li>
                <li>
                    <a href="~/CommentForm/Create?pageSize=@Model.PageSize&SorthByDate=@Model.SorthValues&page=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
