<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nasko's Restaurant</title>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel='stylesheet' media='screen and (min-width: 120px) and (max-width: 701px)' href='~/Content/medium.css' />
    <link rel="stylesheet" href="~/Content/home-page-animation.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link id="ie-style" href="" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <script>
 -        function detectIE() {
 -            var ua = window.navigator.userAgent;
 -            var msie = ua.indexOf('MSIE '),
 -                trident = ua.indexOf('Trident/'),
 -                edge = ua.indexOf('Edge/');
 -            if (edge > 0 || msie > 0 || trident > 0) {
 -                $('#ie-style').attr("href", "Content/IE.css");
 -                setTimeout(function () {
 -                    $('.scroll').slideDown("slow");
 -                }, 6000);
 -            }
 -        }
 -        detectIE();
 -    </script>
    <video style="opacity:0.7" id="video-background" loop="" autoplay="" muted="" poster="http://www.dhresource.com/0x0s/f2-albu-g3-M00-F1-70-rBVaHVSv75-AeppOAAaQTMblXTE043.jpg/7x5ft-vinyl-custom-photography-backdrops.jpg">
        <source src="http://vid1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/Noa%20Restaurant%20Intro_zps5bivxhfq.mp4" type="video/mp4">
        <source src="~/jpgs/Noa Restaurant Intro.webm" type="video/webm">
    </video>

    @*<iframe id="video-background"  src="https://www.youtube.com/embed/AHT7hpIGfMo?loop=1&autoplay=1&controls=1" frameborder="0" allowfullscreen>
        </iframe>*@

    <div class="scroll scroll-left">
        <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/Scroll2_zpsssphh9a1.png" />
        <div>
            <h1>Today's Deals</h1>
            <h4>Breakfast:</h4>
            Lorem Ipsum. Molestias, molestiae, asperiores iure ducimus
            itaque delectus quasi! Qui, deleniti, harum, magni blanditiis quasi reprehenderit
            earum quam tempore asperiores exercitationem dignissimos accusantium ipsam
            <h4>Lunch:</h4>
            Lorem ipsum animi possimus ducimus pariatur provident numquam eveniet
            reiciendis. Libero, rem pariatur quos nobis cupiditate mollitia hic sunt totam.
            <h4>Dinner:</h4>
            Lorem sit amet, consectetur adipisicing elit. Voluptas accusamus delectus explicabo
            officia laboriosam. Distinctio, laudantium minima hic corrupti libero!
        </div>
    </div>

    <div id="chef-add">
        <img id="close-button" src="~/jpgs/close-button.png" />
        <div>
            <b>BUY ONE GET ONE FREE!</b>
            <hr />
            Reserve a table today
            <br />
            Click
            <a href="/Reservation/Create">Here</a>
        </div>
        <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/ChefDeal_zpsqlbv2i4q.png" />
    </div>

    <div class="scroll scroll-right">
        <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/Scroll2_zpsssphh9a1.png" />
        <div style="width:95%">
            @{Html.RenderAction("_JokePartial", "Joke");}
        </div>
    </div>

    <div class="container-fluid" style="z-index:1;position:relative">
        <div class="modal-container">
            <div class="wrap center">
                <img class="center" id="chef" src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/chef3_zpsgcptmqzz.png" />
                <img class="center" id="naskosRestaurant" src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/NaskosRestaurant2_zpsvxdo3enb.png" />
                <img id="modalScroll"
                     src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/scroll-down_zpsxstwdoa9.gif" />
                <img class="modalImg" style="left:-300px"
                     src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/logo-main-left_zpsciupz7q5.png" />
                <img class="modalImg" style="left:300px" src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/national-restaurant-association_zps8detmmee.png" />
            </div>
        </div><!-- /.container -->
    </div><!-- /#index-hero-->
    @if (!Request.IsAuthenticated)
    {
        @Html.Partial("LoginModal")
    }

    <div class="container" style="padding:0">
        <div id="navigation" class="navbar navbar-default" data-spy="affix" data-offset-top="600" style="width:100%">
            <div class="navbar-header" style="width:100%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li class="dropdown">
                        <a class="navbar-default dropdown-toggle" data-toggle="dropdown">
                            Main Menu
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li>@Html.ActionLink("Feedback", "Create", "CommentForm")</li>
                            <li role="presentation" class="divider"></li>
                            <li>@Html.ActionLink("Join Our Team", "Create", "Resume")</li>
                            <li>@Html.ActionLink("Reserevation", "Create", "Reservation")</li>
                            <li>@Html.ActionLink("My Reservations", "IndexReservations", "GetReservations")</li>
                            <li role="presentation" class="divider"></li>
                            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content site">
        
        @if (TempData["Notification"] != null)
            {
            <div class="alert alert-info" role="alert">@this.TempData["Notification"]</div>
        }

        @RenderBody()
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Nasko's<span>Restaurant</span></h3>
                <p class="footer-links">
                    @Html.ActionLink("Home", "Index", "Home")
                    ·
                    @Html.ActionLink("Feedbacks", "Create", "CommentForm")
                    ·
                    @Html.ActionLink("Make Reservation", "Create", "Reservation")
                    ·
                    @Html.ActionLink("Contact", "Index", "Contact")
                </p>
                <p class="footer-company-name">Nasko's Restaurant &copy; @DateTime.Now.ToLongDateString() </p>
            </div>
            <div class="footer-center">
                <div>
                    <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/pinFoot_zpszqmskuwt.png">
                    <p><span>21 Random Street</span> California, USA</p>
                </div>
                <div>
                    <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/phoneFoot2_zpsgvyuytpm.png">
                    <p>+1 555 123456</p>
                </div>
                <div>
                    <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/openFoot2_zpsba6artdm.png">
                    <p><a href="https://github.com/adachenski/NaskosRestaurant">Open Source Project</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About Nasko's</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="footer-icons">
                    <a href="https://www.linkedin.com/in/atanasdachenski">
                        <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/fbFoot_zpszmrtuzgb.png">
                    </a>
                    <a href="https://www.linkedin.com/in/atanasdachenski">
                        <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/twFoot_zpsqz46tub1.png" />
                    </a>
                    <a href="https://github.com/adachenski/NaskosRestaurant">
                        <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/gitFoot2_zpsy0zjlnc0.png" />
                    </a>
                    <a href="https://www.linkedin.com/in/atanasdachenski">
                        <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/inFoot_zpsgzlbw53l.png" />
                    </a>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/Scripts/home-page-animation.js"></script>
</body>
</html>
