<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nasko's Restorant</title>

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    <link rel='stylesheet' media='screen and (min-width: 120px) and (max-width: 701px)' href='~/Content/medium.css' />
    <link rel="stylesheet" href="~/Content/simple-sidebar.css" />
    <style>

        .btn-link:hover {
            background-color:black;
        }
    </style>

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Feedbacks", "Create", "CommentForm")</li>
                <li>@Html.ActionLink("Make Reservation", "Create", "Reservation")</li>
                <li>@Html.ActionLink("Ask question", "Ask", "Questions")</li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>@Html.ActionLink("My Reservations", "IndexReservations", "GetReservations")</li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>@Html.ActionLink("About", "Index", "Home")</li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
        <img id="video-background" src="https://focusmedical.files.wordpress.com/2015/01/istock_000047600082_medium.jpg?w=1697&h=1131&crop=1" ) />
        @if (!Request.IsAuthenticated)
        {
            @Html.Partial("LoginModal")
        }
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="margin-top:3px;" href="#menu-toggle" class="btn btn-link" id="menu-toggle"><i class="glyphicon glyphicon-home"></i></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div style="height:50px"></div>

        <div class="container body-content">
            <ol class="breadcrumb">
                <li class="active">
                    @Html.ActionLink("Home", "Index", "Home")
                    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home" && ViewContext.RouteData.Values["action"].ToString() != "Index")
                    {
                        @:/ @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
                }
                    / @ViewBag.SubTitle
                </li>
            </ol>

            @if (TempData["Notification"] != null)
            {
                <div class="alert alert-info" role="alert">@this.TempData["Notification"]</div>
            }
            @RenderBody()
            <hr />
            <footer class="footer-distributed">
                <div class="footer-left">
                    <h3>Company<span>logo</span></h3>
                    <p class="footer-links">
                        <a href="#">Home</a>
                        ·
                        <a href="#">Blog</a>
                        ·
                        <a href="#">Pricing</a>
                        ·
                        <a href="#">About</a>
                        ·
                        <a href="#">Faq</a>
                        ·
                        <a href="#">Contact</a>
                    </p>
                    <p class="footer-company-name">Nasko's Restourant &copy; @DateTime.Now.Year </p>
                </div>
                <div class="footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>21 Revolution Street</span> Paris, France</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+1 555 123456</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@company.com">support@company.com</a></p>
                    </div>
                </div>
                <div class="footer-right">
                    <p class="footer-company-about">
                        <span>About the company</span>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                    </p>
                    <div class="footer-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>

            </footer>
        </div>








    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
