<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nasko's Restorant</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    <link rel='stylesheet' media='screen and (min-width: 120px) and (max-width: 701px)' href='~/Content/medium.css' />
    <link rel="stylesheet" href="~/Content/simple-sidebar.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Feedbacks", "Create", "CommentForm")</li>
                <li>@Html.ActionLink("Make Reservation", "Create", "Reservation")</li>
                <li>@Html.ActionLink("Ask question", "Ask", "Questions")</li>
                <li>@Html.ActionLink("Join Our Team","Create","Resume")</li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>@Html.ActionLink("My Reservations", "IndexReservations", "GetReservations")</li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>@Html.ActionLink("About", "Index", "Home")</li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <img id="video-background" src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/background_zpsnagammqk.jpg"/>
    @if (!Request.IsAuthenticated)
    {
        @Html.Partial("LoginModal")
    }
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#menu-toggle" class="navbar-right glyphicon glyphicon-home" id="menu-toggle"></a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="height:50px"></div>
    <h1 class="brand">Nasko's</h1>
    <div class="address-bar">Breakfast & seafood restaurant <br> San Jose, CA 95101 | 123.456.7890</div> 
    <div class="container body-content">
        @if (TempData["Notification"] != null)
            {
            <div class="alert alert-info" role="alert">@this.TempData["Notification"]</div>
        }
        @RenderBody()
        <hr />
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Nasko's<span>Restaurant</span></h3>
                <p class="footer-links">
                    @Html.ActionLink("Home", "Index", "Home")
                    ·
                    @Html.ActionLink("Feedbacks", "Create", "CommentForm")
                    ·
                    @Html.ActionLink("Make Reservation", "Create", "Reservation")
                    ·
                    <a href="https://www.linkedin.com/in/atanasdachenski">Contact</a>
                </p>
                <p class="footer-company-name">Nasko's Restaurant &copy; @DateTime.Now.ToLongDateString() </p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>21 Revolution Street</span> California, USA</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1 555 123456</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="https://www.linkedin.com/in/atanasdachenski">support@company.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
